@{
    ViewBag.Title = "Home Page";
   
  
}

<head>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet">
</head>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<style>
   
    .cell {
        width: 30px;
        height: 30px;
        float: left;
        border: 1px solid #0026ff;
        margin: .5px;
        font-size: .8em;
        text-align: center;
        float: left;
    }

    .headerCell {
        width: 30px;
        height: 15px;
        float: left;
        border: 1px solid #d3dce0;
        margin: .5px;
        font-size: .8em;
        text-align: center;
    }



    .headerCellDate {
        width: 30px;
        height: 15px;
        float: left;
        border: 1px solid #d3dce0;
        margin: .5px;
        font-size: .8em;
        text-align: center;
    }

    .headerCellToday {
        width: 30px;
        height: 15px;
        float: left;
        border: 1px solid #d3dce0;
        margin: .5px;
        font-size: .8em;
        text-align: center;
        background-color: #f66037;
    }

    .headerCellHoliday {
        width: 30px;
        height: 15px;
        float: left;
        border: 1px solid #808080;
        margin: .5px;
        font-size: .8em;
        text-align: center;
    }
</style>

<div style="text-align: right; padding-bottom: 10px; padding-top: 2em;">
    Select Date: 
    <input type="date" id="inputDate">
</div>
<div class="jumbotron" style="width: 1025px; height: 400px; padding-top: 5px; float: left; background-color: #d3dce0;">
    <div id="days" style="float: left; margin: .5px;">
    </div>
    <div id="dates" style="float: left; margin: .5px;">
    </div>
    <div id="months" style="float: left; margin: .5px;">
    </div>
    <div style="width: 1000px; float: left;">


        @for (int i = 0; i < 32; i++)
        {

            for (int j = 0; j < 12; j++)
            {                                       
            <div id="@i@j" class="cell ">
            </div>   
            
            }
        }

    </div>
    <div class="popup1"><a href="#" >Hi</a></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        
        $(".cell").click(function () {
            
        });

       
        $('#inputDate').change(function () {
            //alert("1");
            setDateRange(inputDate.value)

            function setDateRange(SetDate) {

                $('#days').html(function () {

                    var currdate = new Date(SetDate);
                    // alert(currdate)

                    var startingDate = new Date(currdate);
                    startingDate.setDate(startingDate.getDate() - 15);

                    //alert(startingDate)

                    var endingDate = new Date(currdate);
                    endingDate.setDate(endingDate.getDate() + 15);

                    // alert(endingDate)

                    var date = new Date(startingDate);
                    // alert(date)

                    var result = "";

                    var weekday = new Array(7);
                    weekday[0] = "Mon";
                    weekday[1] = "Tue";
                    weekday[2] = "Wed";
                    weekday[3] = "Thu";
                    weekday[4] = "Fri";
                    weekday[5] = "Sat";
                    weekday[6] = "Sun";
                    var n = weekday[date.getDay()];
                    for (date = startingDate; date <= endingDate; date.setDate(date.getDate() + 1)) {
                        n = weekday[date.getDay()];
                        // result = result + "<div class='headerCell'>" + n.toUpperCase() + "</div>";
                        for (var j = 0; j < 1; j++) {

                            // alert(n);
                            if (n == "Sat" || n == "Sun") {

                                // alert(n)
                                result = result + "<div class='headerCellHoliday'>" + n.toUpperCase() + "</div>";
                                //alert(result)
                            }
                            else {

                                if (date == currdate) {
                                    //alert(date)

                                    result = result + "<div class='headerCellToday'>" + n.toUpperCase() + "</div>";
                                    //alert(result)

                                }
                                else {
                                    result = result + "<div class='headerCell'>" + n.toUpperCase() + "</div>";

                                }
                            }

                        }
                    }

                    return result;

                });
                $('#dates').html(function () {

                    var currdate = new Date(SetDate);
                    //alert(currdate)

                    var startingDate = new Date(currdate);
                    startingDate.setDate(startingDate.getDate() - 15);

                    //alert(startingDate)

                    var endingDate = new Date(currdate);
                    endingDate.setDate(endingDate.getDate() + 15);

                    // alert(endingDate)

                    var date = new Date(startingDate);
                    // alert(date)

                    var result = "";

                    var weekday = new Array(7);
                    weekday[0] = "Mon";
                    weekday[1] = "Tue";
                    weekday[2] = "Wed";
                    weekday[3] = "Thu";
                    weekday[4] = "Fri";
                    weekday[5] = "Sat";
                    weekday[6] = "Sun";
                    var n = weekday[date.getDay()];

                    //  alert(n)


                    //alert(date)

                    for (date = startingDate; date <= endingDate; date.setDate(date.getDate() + 1)) {
                        n = weekday[date.getDay()];
                        // result = result + "<div class='headerCell'>" + n.toUpperCase() + "</div>";
                        for (var j = 0; j < 1; j++) {

                            // alert(n);
                            if (n == "Sat" || n == "Sun") {

                                // alert(n)
                                result = result + "<div class='headerCellHoliday'>" + date.getDate() + "</div>";
                                //alert(result)
                            }
                            else {

                                if (date == currdate) {
                                    //alert(date)

                                    result = result + "<div class='headerCellToday'>" + date.getDate() + "</div>";
                                    //alert(result)

                                }
                                else {
                                    result = result + "<div class='headerCell'>" + date.getDate() + "</div>";

                                }
                            }

                        }
                    }

                    return result;

                });
                $('#months').html(function () {

                    var currdate = new Date(SetDate);
                    //alert(currdate)

                    var startingDate = new Date(currdate);
                    startingDate.setDate(startingDate.getDate() - 15);

                    //alert(startingDate)

                    var endingDate = new Date(currdate);
                    endingDate.setDate(endingDate.getDate() + 15);

                    // alert(endingDate)

                    var date = new Date(startingDate);
                    // alert(date)

                    var result = "";

                    var weekday = new Array(7);
                    weekday[0] = "Mon";
                    weekday[1] = "Tue";
                    weekday[2] = "Wed";
                    weekday[3] = "Thu";
                    weekday[4] = "Fri";
                    weekday[5] = "Sat";
                    weekday[6] = "Sun";
                    var n = weekday[date.getDay()];

                    var month = new Array(7);
                    month[0] = "Jan";
                    month[1] = "Feb";
                    month[2] = "Mar";
                    month[3] = "Apr";
                    month[4] = "May";
                    month[5] = "Jun";
                    month[6] = "Jul";
                    month[7] = "Aug";
                    month[8] = "Sep";
                    month[9] = "Oct";
                    month[10] = "Nov";
                    month[11] = "Dec";
                    var m = month[date.getMonth()];
                    //alert(m)


                    //alert(date)

                    for (date = startingDate; date <= endingDate; date.setDate(date.getDate() + 1)) {
                        n = weekday[date.getDay()];
                        m = month[date.getMonth()];
                        // result = result + "<div class='headerCell'>" + n.toUpperCase() + "</div>";
                        for (var j = 0; j < 1; j++) {

                            // alert(n);
                            if (n == "Sat" || n == "Sun") {

                                // alert(n)
                                result = result + "<div class='headerCellHoliday'>" + m.toUpperCase() + "</div>";
                                //alert(result)
                            }
                            else {

                                if (date == currdate) {
                                    //alert(date)

                                    result = result + "<div class='headerCellToday'>" + m.toUpperCase() + "</div>";
                                    //alert(result)

                                }
                                else {
                                    result = result + "<div class='headerCell'>" + m.toUpperCase() + "</div>";

                                }
                            }

                        }
                    }

                    return result;

                });



            }


        });

       

    });
</script>








