
.cell {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid black;
    margin: .5px;
    font-size: .8em;
    text-align: center;
    float: left;
    border-spacing: 2px;
}

.cellrow {
    width: 94px;
    height: 30px;
    float: left;
    border: .5px solid black;
    margin: .5px;
    font-size: .8em;
    text-align: center;
}

.cellcol {
    width: 199px;
    height: 30px;
    float: left;
    margin: .5px;
    border-spacing: 2px;
    font-size: 11.4px;
    border: none;
    padding: 6px;
    text-align: left;
    font-weight: bold;
}

.cellrow1 {
    width: 100px;
    height: 30px;
    float: right;
    margin: .5px;
    text-align: center;
    border: none !important;
    padding-top: 5px;
    font-size: 11.4px;
    font-weight: bold;
}

.headerCell {
    width: 30px;
    height: 15px;
    float: left;
    border: 1px solid #000;
    margin: .5px;
    font-size: .8em;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.headerCellHoliday {
    width: 30px;
    height: 15px;
    float: left;
    border: 1px solid #808080;
    margin: .5px;
    font-size: .8em;
    text-align: center;
    background-color: #000;
    color:#fff;
}

.dropdown {
    display: block;
}

.employeeName {
    padding: 6px;
    background-color: #d3dce0;
    color: black;
    width: 197px;
    font-size: small;
    text-align: left;
    border: 1px solid black;
}

.leavecount {
    background-color: #e1e6e5;
    font-size: medium;
    color: black;
}

.dailyLeaves {
    background-color: #e1e6e5;
    font-size: medium;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.popupCell {
    background-color: #fff;
}

#LeaveMenu {
    display: block;
}

#menu1 {
    height: 300px;
    width: 200px;
    float: left;
}

#menu3 {
    height: 300px;
    width: 107px;
    float: right;
}

#menu4 {
    height: 30px;
    width: 1300px;
    bottom: 0;
    right: 0;
    left: 0;
    position: relative;
    color: black;
}

#months1 {
    float: left;
    margin: .5px;
    background-color: #d3dce0;
    width: 1270px;
    color: black;
}

#monthsmenu1 {
    border-spacing: 2px;
    float: left;
    width: 100px;
    border: 0px;
}

#monthsmenu2 {
    border-spacing: 2px;
    float: left;
    width: 100px;
}

#Months {
    border-spacing: 2px;
    padding-top: 10px;
}

#days1 {
    float: left;
    margin: .5px;
    background-color: #d3dce0;
    width: 1270px;
    color: black;
    height: 20px;
}

#daysmenu1 {
    border-spacing: 2px;
    float: left;
    width: 100px;
}

#daysmenu2 {
    border-spacing: 2px;
    float: left;
    width: 100px;
}

#dates1 {
    float: left;
    margin: .5px;
    width: 1270px;
    color: black;
    border-top: 1px solid;
}

#datesmenu1 {
    border-spacing: 2px;
    float: left;
    width: 200px;
}

#menu1_1 {
    text-align: left;
    width: 200px;
    font-size: 11.4px;
    font-weight: bold;
}

#datesmenu3 {
    border-spacing: 2px;
}

#Dates {
    border-spacing: 2px;
}
